<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">

    <title>Search</title>

<body>

    <ul class="nav nav-pills sticky-top navbar-dark bg-dark justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" href="{{url_for('search' user=user)}}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('login')}}">Logout</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('admin',user=user)}}">Admin</a>
        </li>
    </ul>

    <nav class="navbar navbar-light bg-light">
        <form class="d-flex justify-content-center col-6 m-auto" action="{{url_for('search',user=user)}}" method="post">
            <input class="form-control" name="find" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>

    {% if result %}
    <table class="table text-center text-capitalize mt-5 table-borderless table-hover">
        <thead class="table-dark">
            <tr>
                <th scope="col">Book</th>
                <th scope="col">ISBN</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Year</th>
            </tr>
        </thead>
        <tbody>
            {% for r in result %}
            <tr>
                <th scope="row"><img src="http://covers.openlibrary.org/b/isbn/{{r.isbn}}-M.jpg" alt={{r.isbn}}
                        width="100" height="150"></th>
                <td> <a href="{{url_for('bookpage',isbn=r.isbn,user=user)}}">{{r.isbn}}</a></td>
                <td>{{r.title}}</td>
                <td>{{r.author}}</td>
                <td>{{r.year}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
</body>

</html>