<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{UserName}}</title>
  </head>
  <body>
    <h3>{{message}}</h3>
    <nav>
      <ul>
        <li> <a href="{{url_for('index')}}">Home</a></li>
        <li> <a href="{{url_for('login')}}">Login</a> </li>
      </ul>
    </nav>

    <form class="" action="{{url_for('user')}}" method="post">
      <div class="">
        <h4>username: {{Username}}</h4>
        <h4>name: {{name}}</h4>
      </div>
    </form>



  </body>
</html>
